<div>{{_id}}</div>
<div>{{name}}</div>
<div>{{username}}</div>
<div>{{mail}}</div>
<div>{{phone}}</div>
<div>{{site}}</div>
<div>{{street}}</div>
<div>{{suite}}</div>
<div>{{city}}</div>
<div>{{zipcode}}</div>